.post img {
  border-radius: 0.25rem;
  margin: 1rem 0;
  border: $border-thin solid $color-border;
}

.page-home .page-content .wrapper {
  max-width: $mq-medium !important;
}

table {
  margin-bottom: 1rem;
}
