.post-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 10px;
}

.post img,
.post-card {
  border-radius: 4px;

  display: block;

  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}

.post-card-image {
  border-radius: 4px;
  height: 150px;
  width: 100%;
  object-fit: cover;
  object-position: top center;
  margin: 0;
  display: block;
}

.post-card-title {
  padding: 18px 12px;
}
