---
layout: default
---

<div class="home">
  {{ content }} {% assign posts = site.posts %}
  <div class="post-list">
    {%- for post in posts -%}
    <a class="post-card" href="{{ post.url | relative_url }}">
      <img class="post-card-image" src="{{site.baseurl}}/img/{{post.image}}"
      alt="{{ post.title | escape }}" style="{%- if post.position
      -%}object-position: {{post.position}};"{%- endif -%}" />
      <div class="post-card-title">
        {{ post.title }}
      </div>
    </a>
    {%- endfor -%}
  </div>
</div>
